@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300&display=swap");
.App {
  /* text-align: center; */
  margin-top: 1vh;
  font-family: "Poppins", sans-serif;
}
.header_section {
  height: 5vh;
  display: flex;
  justify-content: center;
  /* align-items: ; */
  margin-bottom: 1vh;
}
.header_section h1 {
  font-size: 1.8em;
}
.github_icon {
  position: absolute !important;
  right: 0vw;
  margin-right: 5vh !important;
  color: black !important;
  font-size: large !important;
}
.suggestion_button {
  background-color: #999999 !important;
}
.suggestions_menu {
  /* background-color: rgb(182, 182, 182) !important; */
  box-shadow: 3px 6px #88888878;
}
.query_input {
  width: 73vw;
}
.query_submit {
  height: 55px;
  width: 10vw;
}
.query_section {
  width: 85vw;
  margin: auto;
}
.query_field {
  display: flex;
  justify-content: space-between;
  margin: 2vh 0;
}
.output_section {
  width: 85vw;
  height: 60vh;
  border: 1px solid rgba(0, 0, 0, 0.474);
  border-radius: 5px;
  margin-bottom: 5vh;
  /* overflow: scroll; */
}
.history_border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.474);
  padding: 1vh 0 0 0;
}
.history_row {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.headRows {
  font-size: 1rem;
  font-weight: 700;
}
.TableCell pre {
   font-family: "Poppins", sans-serif;
  /*font-family: "Ubuntu", sans-serif; */
  font-weight: 500;
  font-size: 0.8rem;
  margin: auto;
}
.HeadTableRow {
  position: sticky !important;
  z-index: 10;
  top: 0vh;
  background-color: white;
}
p {
  margin-top: auto !important;
}
a {
  text-decoration: none;
  color: black !important;
}
@media only screen and (max-width: 600px) {
  .header_section h1 {
    font-size: 1.5em;
  }
}
